<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Elimu-The place to be!!</title>
    {% load static %}

    <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</head>
<body>
<h1>Welcome to Wikipedia!</h1>
<img src="{% static 'assets/img/i1.jpg' %}" alt="">
<p>Wikipedia is a free online encyclopedia that anyone can edit, and millions already have. Wikipedia's purpose is to benefit readers by presenting information on all branches of knowledge.</p>

    
</body>
</html>